<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Sodium</title>
</head>

<body>
    <div class="app">
        <div class="app-container">
            <div class="container-title">
                <p><h2 id="Sodium">S</h2>odium</p>
            </div>

            <div class="container-left">
                <img src="./img.png" alt="peoples-talking" id="main-image">
            </div>

            <div class="container-rigth">
                <div class="rigth-title">
                    <p><h2>Welcome </h2>back</p>
                </div>

                <form id="join-form" class="join-form">
                    <div class="input-container">
                        <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="user-icon">
                            <path d="M12 11.796C14.7189 11.796 16.9231 9.60308 16.9231 6.89801C16.9231 4.19294 14.7189 2.00005 12 2.00005C9.28106 2.00005 7.07692 4.19294 7.07692 6.89801C7.07692 9.60308 9.28106 11.796 12 11.796Z" fill="#111"/>
                            <path d="M14.5641 13.8369H9.4359C6.46154 13.8369 4 16.2859 4 19.245C4 19.9593 4.30769 20.5716 4.92308 20.8777C5.84615 21.3879 7.89744 22.0001 12 22.0001C16.1026 22.0001 18.1538 21.3879 19.0769 20.8777C19.5897 20.5716 20 19.9593 20 19.245C20 16.1838 17.5385 13.8369 14.5641 13.8369Z" fill="#111"/>
                        </svg>

                        <input type="text" class="form-control" name="nickname" id="nickname-input" maxlength="16" minlength="4" placeholder="Enter nickname">
                    </div>
                    <button type="submit" id="join-input">Join</button>
                </form>
            </div>
        </div>
    </div>

    <script src="./index.js"></script>
</body>
</html>